body, html {
  height: 100%;
  margin: 0;
  font-family: 'Comfortaa', cursive;
  color:white;
  font-size: 18px;
}

nav{
    width:100%;
    color:black;
}
li{
    display:inline-block;
    list-style-type:none;
}
.home-parallax {
    background-image: repeating-linear-gradient(10deg, red, blue 2330px);
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-text{
    color:white;
    text-shadow: 2px 2px black;
}
data-container{
    color:white;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  display: flex;
  align-items: center;
  text-align: center;
  padding-bottom: 3%;
  color:black;
}
.rashad-suit{
    object-fit: contain;
    align-self: flex-start;
    width: 25%;
    margin: 24px 31px 0 0;
}
.comments-parallax{
background-image: url('images/homepage-image.gif');
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 2px 2px black;
    overflow: hidden;
}
.p-border {
  border: thin solid white;
  display: flex;
  margin: 10px;
  padding: 10px;
  width: 300px;
}
/* #greeting-container {
  margin-top: 20px;
} */
